body {
    background-color: burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1 {color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: brown
}
h2 {color: saddlebrown}
h3 {color: saddlebrown}
a {color: midnightblue}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: antiquewhite;
    }

nav a {color: maroon;}
nav {color: maroon;}

nav a:hover {background-color: burlywood}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: blanchedalmond;
    border-radius: 25px;
}