body {
    background-color: burlywood;
}
h1 {color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: brown
}
h2 {color: saddlebrown}
h3 {color: saddlebrown}
a {color: midnightblue}